*{
	box-sizing: border-box;
	color: white;
}

body {
		background-color: black;
		margin: 0;
		padding: 0;
}

.flex-father {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
}

.site-title {
		display: flex;
		justify-content: center;
		color: white;
		font-size: 48px;
		margin: 10px;
}

.flex-nav {
		display: flex;
		justify-content: space-around;
		width: 75%;
		font-size: 24px;
		color: white;
		margin: 0;
}

.flex-main {
		display: flex;
		flex-direction: row;
		align-items: space-around;
		margin-top:5px;
		margin-left:50px;
		padding: 20px;
		justify-content: space-around;
		flex-wrap: wrap;
		box-sizing: border-box;
		color: white;
}

.menu-option {
		border-radius: 10px;
		padding: 10px;
		transition: background-color 0.3s ease;
}
.menu-option:hover {
		background-color: #e74c3c;
}

a {
		text-decoration: none;
		color: white;
}

.galeria {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 50px;
}

.galeria table td {
		padding-right: 150px;
		padding-left: 150;
}

img {
	width: 100%;
}

.row {
	display:flex;
	padding: 5px;
	flex-wrap: wrap;
}

.column {
	flex: 25%;
	padding: 5px;
}

.column img{
	margin-top: 5px;
}

@media (max-width: 600px){
	.column{
		flex:100%;
	}
}

@media (max-width: 800px) {
	.column {
		flex:100%;
	}
}

/*---------------------------------------------*/
/*						BLOG				   */
/*---------------------------------------------*/

.general-section {
  display: grid;
  grid-template-columns: 1fr 3fr;  /* aside | contenido */
  align-items: start;
  width: 70%;
  margin: 20px auto;
}

.general-section aside {
  position: sticky;   /* se queda fijo al hacer scroll */
  top: 0;
  align-self: start;
}

.content-column {
  display: flex;
  flex-direction: column;  /* filas apiladas */
  gap: 20px;
}

.blog-preview {
  display: flex;
  gap: 10px;
}

.descripcion {
  text-align: justify;
  width: 60%;
  margin: 10px;
}

.vertical-line {
  height: 200px;
  width: 1px;
  background-color: white;
  margin: 5px;
}